/** {border:dashed 1px rgba(255, 0, 0, 0.40);}*/

.row{
     /*margin-right: 0 !important;*/
}

@font-face {
    font-family: ชวนพิมพ์;
    src: url("#{resource['fonts/DB ChuanPim X/DBChuanPimX.TTF']}") format('truetype');
}

@font-face {
    font-family: boon;
    src: url("#{resource['fonts/boon-0.6/woff/boon-300.woff']}") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: boon;
    src: url("#{resource['fonts/boon-0.6/woff/boon-400.woff']}") format('woff');
    font-weight: 400;
}

@font-face {
    font-family: boon;
    src: url("#{resource['fonts/boon-0.6/woff/boon-500.woff']}") format('woff');
    font-weight: 500;
}

@font-face {
    font-family: boon;
    src: url("#{resource['fonts/boon-0.6/woff/boon-700.woff']}") format('woff');
    font-weight: 700;
}

@font-face {
    font-family: DBAdman;
    src: url("#{resource['fonts:DBAdmanRoundedX.TTF']}") format('truetype');
}

body{
    font-family: ชวนพิมพ์;
    /*font-size: 1.3em !important;*/
}

.warning-txt{
    color: rgba(255, 0, 0, 0.72);
    font-weight: normal;
    font-size: 1.3em !important;
    padding-left: 0;
    margin-bottom: 0;
}

p {
    text-indent: 2em;
    font-size: 1.8em;
    text-align: justify;
    text-justify: inter-word;
}

.page-header{
    margin: 70px 0 40px !important;
}

.topic{
    font-family: boon;
    text-align: center;
    font-size: 2.8em;
    font-weight: 500;
}

#none {
    list-style-type: none;
    font-size: 1.8em;
    margin-bottom: 45px;
}

h3.thank-text{
    font-family: DBAdman;
    font-size: 2.3em;
}

li > h4{
    font-weight: bold;
}

.text-row{
    margin-top: 10px;
    margin-bottom: 10px;
}

.for-poll{
    margin-bottom: 5%;
}


.scale{
    width: 100%;
    position: relative;
    top:5px;
}

.scale > span{
    left: 0%;
    position: absolute;
    height: 8px;
    border-left: 1px solid #BAB9B9;
}

.scale > span > ins{
    margin-left: -3.5px;
    font-size: 18px;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 5px;
    color: #BAB9B9;
    font-family: ชวนพิมพ์;
}

.scale > span:nth-child(1){
    left: 0.5%;
}

.scale > span:nth-child(2){
    left: 25%;
}

.scale > span:nth-child(3){
    left: 50%;
}

.scale > span:nth-child(4){
    left: 75%;
}

.scale > span:nth-child(5){
    left: 99%;
}

blockquote{
    border-left: 0 !important;
    margin: 0 !important;
}

blockquote h3:before,
blockquote h3:after{
    font-size: 1.2em;
    color: #A3CCD8;
    line-height: 0;
    vertical-align: middle;
}

blockquote h3:first-child:before{
    content: "\275D";
    margin: 0 5px 0 -40px;
}

blockquote h3:last-child:after{
    content: "\275E";
    margin: 0 -40px 0 5px;
}

fieldset{
    margin-bottom: 80px;
}

legend{
    margin-bottom: 40px !important;
    font-weight: bold;
}

legend > li{
    font-size: 1.5em !important;
}

h4 {
    font-size: 1.3em;
}

.ui-widget{
    font-family: ชวนพิมพ์ !important;
    font-size: 1.5em !important;
}

.ui-inputfield{
    color: #7a7a7a;
}

.cmd-1{
    margin-left: 107px;
    margin-bottom: 30px;
}

.cmd{
    font-size: 1.8em;
}


ol#with-decimal:first-child,ol#with-decimal.indend{
    padding: 0;
}

ol#with-decimal.indend{
    padding-left: 3%;
}

ol#with-decimal {
    counter-reset: item;
}
ol#with-decimal li {
    margin-left: 27px;
    display: block;
    position: relative;
    font-size: 1.8em;
}

ol#with-decimal li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text */
}

hr{
    margin-bottom: 40px !important;
}

ol#with-decimal li.sublist-head:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text */
    font-size: 1.3em;
    font-family: ชวนพิมพ์;
    top: -4px;
}

li.sublist-head{
    margin-bottom: 30px;
}

ol#single {
    padding: 0;
    padding-left: 2.2%;
    counter-reset: myitem;
}
ol#single li {
    margin-left: 27px;
    display: block;
    position: relative;
}

ol#single li:before {
    content: counter(myitem) ".";
    counter-increment: myitem;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text */
}

.suggestion{
    font-size: 1.8em;
    font-weight: bold;
}

.satisfy{
    text-decoration: underline;
    padding-left: 5%;
    margin-top: 30px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .topic{
        font-size: 2.5em;
    }

    .cmd-1{
        margin-left: 86px;
    }

    .b-suggesstion{
        margin-bottom: 90px;
    }

    .for-poll{
        margin-bottom: 15%;
    }

    ol#with-decimal li {
        margin-bottom: 12px;
    }

    .text-row{
        margin-bottom: 25px !important;
    }

    .for-poll{
        margin-bottom: 9% !important;
    }

    fieldset:last-child{
        margin-bottom: 15px;
    }

    .btn-submit{
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    #none{
        padding-left: 0;
    }

    p {
        text-indent: 35px;
        text-align: left;
    }

    .topic{
        font-size: 1.9em;
        margin-top: 0;
    }

    .page-header{
        margin-top: 40px !important;
    }

    ol#with-decimal{
        padding-left: 15px;
    }

    fieldset {
        margin-bottom: 30px;
    }

    .satisfy{
        text-decoration: underline;
        padding-left: 0 !important;
        margin-top: 30px;
        font-weight: bold;
        text-indent: 0 !important;
    }

    .cmd-1 {
        margin-left: 0;
    }

    ol#with-decimal li{
        margin-left: 27px;
    }

    ol#single {
        padding-left: 0;
    }

    ol#single li{
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .for-poll{
        margin-bottom: 70px !important;
    }

    li.sublist-head{
        margin-left: 37px !important;
    }

    .sublist-head > h4{
        font-size: 1.2em;
    }

    legend {
        margin-bottom: 25px !important;
        font-weight: bold;
        font-family: boon;
    }

    legend > li {
        font-size: 1.1em !important;
        font-weight: 500;
    }

    .satisfy-group{
        margin-left: 0;
    }
}



