<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>primestrap</title>
    </f:facet>
    <f:event type="preRenderView" listener="#{pollView.startForm}" />
    <f:facet name="middle">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"/>
        <h:outputStylesheet name="bootstrap/css/bootstrap.css" />
        <h:outputStylesheet name="bootstrap/css/custom.css" />
        <h:outputScript name="bootstrap/js/bootstrap.js" />
    </f:facet>

    <f:facet name="last">

    </f:facet>

</h:head>
<style type="text/css">
    #departmentBlock{
        display: none;
    }
</style>
<h:body>
    <h:form>
    <div class="container">
        <div class="row text-row">
            <div class="col-3"></div>

            <div class="col-6">
                <div class="container">
                    <fieldset>
                        <legend>ส่วนที่1 ข้อมูลทั่วไปของบุคคล</legend>

                            <div class="row text-row">
                                <div class="col-md-6">1.1 เพศ</div>
                                <div class="col-md-6">
                                    <h:panelGrid columns="2" cellpadding="5">
                                        <p:selectOneRadio id="gender" value="#{pollView.pollEntity.sex}" cellpadding="5">
                                            <f:selectItem itemLabel="ชาย" itemValue="ชาย" />
                                            <f:selectItem itemLabel="หญิง" itemValue="หญิง" />
                                        </p:selectOneRadio>
                                    </h:panelGrid>
                                </div>
                            </div>

                            <div class="row text-row">
                                <div class="col-md-6">1.2 หน่วยงานที่สังกัด ฝ่าย/งาน/หน่วย</div>
                                <div class="col-md-6">
                                    <p:outputLabel for="devision" value="ฝ่าย: " />
                                    <p:selectOneMenu id="devision" value="#{departmentView.selectedDevision}" style="width:150px">
                                        <p:ajax listener="#{departmentView.onDevisionChange}" update="department"
                                                event="change" />
                                        <f:selectItem itemLabel="เลือกฝ่าย" itemValue=""/>
                                        <f:selectItem itemLabel="ฝ่ายการแพทย์"   itemValue="ฝ่ายการแพทย์"/>
                                        <f:selectItem itemLabel="ฝ่ายการพยาบาล"  itemValue="ฝ่ายการพยาบาล" />
                                        <f:selectItem itemLabel="ฝ่ายวิทยาศาสตร์การแพทย์"    itemValue="ฝ่ายวิทยาศาสตร์การแพทย์"/>
                                        <f:selectItem itemLabel="ฝ่ายสนับสนุน"  itemValue="ฝ่ายสนับสนุน"/>
                                    </p:selectOneMenu>

                                    <div id="">
                                    <p:outputLabel for="department" value="หน่วยงาน: " />
                                    <p:selectOneMenu id="department" widgetVar="widdepartment" value="#{departmentView.selectedDepartment}" style="width:150px">
                                        <f:selectItem itemLabel="เลือก หน่วยงาน" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{departmentView.departmentList}" var="dep"
                                                       itemLabel="#{dep.departmentName}" itemValue="#{dep.id}"/>
                                    </p:selectOneMenu>
                                    </div>
                                </div>
                            </div>


                            <div class="row text-row">
                                <div class="col-md-6">1.3 อายุ</div>
                                <div class="col-md-6">
                                    <h:panelGrid columns="2" cellpadding="10">
                                        <p:selectOneRadio id="age" value="#{pollView.pollEntity.age}" cellpadding="5">
                                            <f:selectItem itemLabel="20 – 30 ปี"  itemValue="20 – 30 ปี" />
                                            <f:selectItem itemLabel="31 – 40 ปี"  itemValue="31 – 40 ปี" />
                                            <f:selectItem itemLabel="41 – 50 ปี"  itemValue="41 – 50 ปี" />
                                            <f:selectItem itemLabel="มากกว่า 50 ปี"  itemValue="มากกว่า 50 ปี"  />
                                        </p:selectOneRadio>
                                    </h:panelGrid>
                                </div>
                            </div>

                            <div class="row text-row">
                                <div class="col-md-6">1.4 ระดับการศึกษา</div>
                                <div class="col-md-6">
                                    <h:panelGrid columns="2" cellpadding="10">
                                        <p:selectOneRadio id="education" value="#{pollView.pollEntity.education}" cellpadding="5">
                                            <f:selectItem itemLabel="ต่ำกว่าปริญญาตรี"  itemValue="ต่ำกว่าปริญญาตรี" />
                                            <f:selectItem itemLabel="ปริญญาตรี"  itemValue="ปริญญาตรี" />
                                            <f:selectItem itemLabel="สูงกว่าปริญญาตรี"  itemValue="สูงกว่าปริญญาตรี" />
                                        </p:selectOneRadio>
                                    </h:panelGrid>
                                </div>
                            </div>

                        <div class="row text-row">
                            <div class="col-md-12">1.5 สถานภาพการทำงานปัจจุบัน</div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">ประเภทเจ้าหน้าที่</div>
                            <div class="col-md-6">
                                <p:selectOneRadio id="work1" value="#{pollView.pollEntity.currentjobstatus}" cellpadding="5" layout="custom">
                                    <f:selectItem itemLabel="ปฏิบัติงาน"  itemValue="ปฏิบัติงาน" />
                                    <f:selectItem itemLabel="หัวหน้าหน่วย"  itemValue="หัวหน้าหน่วย" />
                                    <f:selectItem itemLabel="หัวหน้างาน"  itemValue="หัวหน้างาน" />
                                    <f:selectItem itemLabel="ระดับต้น (ผช.ผู้อำนวยการ)"  itemValue="ระดับต้น (ผช.ผู้อำนวยการ)" />
                                    <f:selectItem itemLabel="ระดับสูง(รองผู้อำนวยการขึ้นไป)"  itemValue="ระดับสูง(รองผู้อำนวยการขึ้นไป)"/>
                                </p:selectOneRadio>
                                <h:panelGrid columns="2" cellpadding="10">
                                    <p:radioButton id="curJob1" for="work1" itemIndex="0" />
                                    <h:outputLabel for="curJob1" value="ปฏิบัติงาน" />

                                    <p:radioButton id="curJob2" for="work1" itemIndex="1" />
                                    <h:outputLabel for="curJob2" value="หัวหน้าหน่วย" />

                                    <p:radioButton id="curJob3" for="work1" itemIndex="2" />
                                    <h:outputLabel for="curJob3" value="หัวหน้างาน" />
                                </h:panelGrid>

                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">ประเภทอำนวยการ</div>
                            <div class="col-md-6">
                                <h:panelGrid columns="2" cellpadding="10">

                                    <p:radioButton id="curJob4" for="work1" itemIndex="3" />
                                    <h:outputLabel for="curJob4" value="ระดับต้น (ผช.ผู้อำนวยการ)" />

                                    <p:radioButton id="curJob5" for="work1" itemIndex="4" />
                                    <h:outputLabel for="curJob5" value=" ระดับสูง(รองผู้อำนวยการขึ้นไป)" />
                                </h:panelGrid>

                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">1.6 อายุงานทำงานที่โรงพยาบาลจุฬาภรณ์</div>
                            <div class="col-md-6">
                                <h:panelGrid columns="2" cellpadding="10">
                                    <p:selectOneRadio id="experience" value="#{pollView.pollEntity.experience}" cellpadding="5">
                                        <f:selectItem itemLabel="น้อยกว่า 3 ปี"  itemValue="น้อยกว่า 3 ปี" />
                                        <f:selectItem itemLabel="3-5 ปี"  itemValue="3-5 ปี" />
                                        <f:selectItem itemLabel="5-7 ปี"  itemValue="5-7 ปี" />
                                        <f:selectItem itemLabel="มากกว่า 7 ปี "  itemValue="มากกว่า 7 ปี " />
                                    </p:selectOneRadio>
                                </h:panelGrid>
                            </div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend>ส่วนที่ 2  ความผาสุก</legend>

                        <div class="row text-row">
                            <div class="col-md-12"><h4>2.1 ด้านลักษณะงาน </h4></div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">1. ท่านมีความพึงพอใจที่ได้ทำงานที่เหมาะสมกับความรู้ ความสามารถและความถนัดของท่าน</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op1" value="#{pollView.pollEntity.job_descript1}" style="text-align: center;display: none" />
                                <h:inputHidden id="txt1" value="#{pollView.pollEntity.job_descript1}" />
                                <p:slider minValue="-5" maxValue="-1" for="txt1" step="1" style="width: 100%" display="op1" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">2. ท่านมีความสุขในการปฏิบัติภารกิจและหน้าที่ที่ได้รับมอบหมายหรือรับผิดชอบ</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op2" value=" #{pollView.pollEntity.job_descript2}" style="text-align: center" />
                                <h:inputHidden id="txt2" value="#{pollView.pollEntity.job_descript2}" />
                                <p:slider minValue="1" maxValue="5" for="txt2" step="1" style="width: 100%" display="op2" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">3. ท่านมีความพึงพอใจในผลการปฏิบัติงานและหน้าที่ที่ได้รับมอบหมายหรือรับผิดชอบ</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op3" value=" #{pollView.pollEntity.job_descript3}" style="text-align: center" />
                                <h:inputHidden id="txt3" value="#{pollView.pollEntity.job_descript3}" />
                                <p:slider minValue="1" maxValue="5" for="txt3" step="1" style="width: 100%" display="op3" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">4. ท่านรู้สึกว่างานที่ท่านทำมีความท้าทาย  และช่วยให้ท่านได้เรียนรู้และมีประสบการณ์มากขึ้น</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op4" value=" #{pollView.pollEntity.job_descript4}" style="text-align: center" />
                                <h:inputHidden id="txt4" value="#{pollView.pollEntity.job_descript4}" />
                                <p:slider minValue="1" maxValue="5" for="txt4" step="1" style="width: 100%" display="op4" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">5. หน่วยงานของท่านมีระบบการจัดการความรู้ที่ดีและส่งผลให้การปฏิบัติงานมีประสิทธิภาพ</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op5" value=" #{pollView.pollEntity.job_descript5}" style="text-align: center" />
                                <h:inputHidden id="txt5" value="#{pollView.pollEntity.job_descript5}" />
                                <p:slider minValue="1" maxValue="5" for="txt5" step="1" style="width: 100%" display="op5" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <hr/>

                        <div class="row text-row">
                            <div class="col-md-12"><h4>2.2  ความมั่นคงและความก้าวหน้า</h4></div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">1. ท่านมีความรู้สึกว่ามีความมั่นคงกับงานที่ทำอยู่ในขณะนี้</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op6" value=" #{pollView.pollEntity.stable1}" style="text-align: center" />
                                <h:inputHidden id="txt6" value="#{pollView.pollEntity.stable1}" />
                                <p:slider minValue="1" maxValue="5" for="txt6" step="1" style="width: 100%" display="op6" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">2. การประเมินความรู้ ความสามารถ เพื่อเข้าสู่ตำแหน่งต่างๆ อยู่บนพื้นฐานแห่งความถูกต้อง เหมาะสม มีความยุติธรรม และสามารถเชื่อมั่นในเกณฑ์การประเมินได้</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op7" value=" #{pollView.pollEntity.stable2}" style="text-align: center" />
                                <h:inputHidden id="txt7" value="#{pollView.pollEntity.stable2}" />
                                <p:slider minValue="1" maxValue="5" for="txt7" step="1" style="width: 100%" display="op7" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">3. การประเมินประสิทธิภาพ ผลงาน ความสามารถ และความดีความชอบของบุคลากรในหน่วยงาน อยู่บนพื้นฐานแห่งความถูกต้อง เหมาะสม มีความยุติธรรม และสามารถเชื่อมั่นในเกณฑ์การประเมินได้</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op8" value=" #{pollView.pollEntity.stable3}" style="text-align: center" />
                                <h:inputHidden id="txt8" value="#{pollView.pollEntity.stable3}" />
                                <p:slider minValue="1" maxValue="5" for="txt8" step="1" style="width: 100%" display="op8" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">4. มีการสนับสนุนและส่งเสริมให้มีการพัฒนาศักยภาพของบุคลากร ด้านความก้าวหน้าในตำแหน่งหน้าที่ / การผลิตผลงานทางวิชาการ / เอกสาร /งานวิจัย /สิ่งประดิษฐ์และนวัตกรรมใหม่ๆ</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op9" value=" #{pollView.pollEntity.stable4}" style="text-align: center" />
                                <h:inputHidden id="txt9" value="#{pollView.pollEntity.stable4}" />
                                <p:slider minValue="1" maxValue="5" for="txt9" step="1" style="width: 100%" display="op9" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">5. ท่านมีโอกาสพัฒนาความรู้และประสบการณ์ในการทำงานโดยการเข้ารับการฝึกอบรม/สัมมนาหรือกิจกรรมการจัดการความรู้</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op10" value=" #{pollView.pollEntity.stable5}" style="text-align: center" />
                                <h:inputHidden id="txt10" value="#{pollView.pollEntity.stable5}" />
                                <p:slider minValue="1" maxValue="5" for="txt10" step="1" style="width: 100%" display="op10" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">6. การพัฒนากิจกรรมที่ก่อให้เกิดการเรียนรู้ของท่านส่งผลต่อความก้าวหน้าในสายอาชีพ</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op11" value=" #{pollView.pollEntity.stable6}" style="text-align: center" />
                                <h:inputHidden id="txt11" value="#{pollView.pollEntity.stable6}" />
                                <p:slider minValue="1" maxValue="5" for="txt11" step="1" style="width: 100%" display="op11" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <hr/>

                        <div class="row text-row">
                            <div class="col-md-12"><h4>2.3 ด้านเพื่อนร่วมงาน</h4></div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">1. เพื่อนร่วมงานให้ความสนิทสนม ให้ความช่วยเหลือหรือสนับสนุนในการปฏิบัติภารกิจ หน้าที่และผลงาน</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op12" value=" #{pollView.pollEntity.coop1}" style="text-align: center" />
                                <h:inputHidden id="txt12" value="#{pollView.pollEntity.coop1}" />
                                <p:slider minValue="1" maxValue="5" for="txt12" step="1" style="width: 100%" display="op12" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">2. ผู้ปฏิบัติงานและเพื่อนร่วมงาน มีการแลกเปลี่ยนความคิดเห็นและข้อเสนอแนะในการปฏิบัติงาน</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op13" value=" #{pollView.pollEntity.coop2}" style="text-align: center" />
                                <h:inputHidden id="txt13" value="#{pollView.pollEntity.coop2}" />
                                <p:slider minValue="1" maxValue="5" for="txt13" step="1" style="width: 100%" display="op13" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">3. ท่านพึงพอใจที่สามารถปรึกษาปัญหาการทำงานและได้รับการช่วยเหลือเป็นอย่างดีจากเพื่อนร่วมงาน</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op14" value=" #{pollView.pollEntity.coop3}" style="text-align: center" />
                                <h:inputHidden id="txt14" value="#{pollView.pollEntity.coop3}" />
                                <p:slider minValue="1" maxValue="5" for="txt14" step="1" style="width: 100%" display="op14" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">4. ท่านได้รับการยอมรับ นับถือในความรู้ ผลงาน และความสามารถในการปฏิบัติงานภารกิจและหน้าที่ จากบุคคลากรภายในหน่วยงาน</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op15" value=" #{pollView.pollEntity.coop4}" style="text-align: center" />
                                <h:inputHidden id="txt15" value="#{pollView.pollEntity.coop4}" />
                                <p:slider minValue="1" maxValue="5" for="txt15" step="1" style="width: 100%" display="op15" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">5. ท่านสามารถทำงานเป็นทีม เพื่อให้เกิดความร่วมมือ และการทำงานที่มีคุณภาพ</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op16" value=" #{pollView.pollEntity.coop5}" style="text-align: center" />
                                <h:inputHidden id="txt16" value="#{pollView.pollEntity.coop5}" />
                                <p:slider minValue="1" maxValue="5" for="txt16" step="1" style="width: 100%" display="op16" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <hr/>

                        <div class="row text-row">
                            <div class="col-md-12"><h4>2.4 ด้านผู้บังคับบัญชา</h4></div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">1. ผู้บังคับบัญชามีการชี้แจงให้ผู้ปฏิบัติหรือผู้ใต้บังคับบัญชาเข้าใจในนโยบายและแนวทางการปฏิบัติงานต่างๆอย่างชัดเจน</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op17" value=" #{pollView.pollEntity.head1}" style="text-align: center" />
                                <h:inputHidden id="txt17" value="#{pollView.pollEntity.head1}" />
                                <p:slider minValue="1" maxValue="5" for="txt17" step="1" style="width: 100%" display="op17" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">2. มีการแลกเปลี่ยนความคิดเห็นระหว่างผู้ปฏิบัติงานกับผู้บังคับบัญชาหรือผู้นำหน่วยงาน</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op18" value=" #{pollView.pollEntity.head2}" style="text-align: center" />
                                <h:inputHidden id="txt18" value="#{pollView.pollEntity.head2}" />
                                <p:slider minValue="1" maxValue="5" for="txt18" step="1" style="width: 100%" display="op18" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">3. ผู้บังคับบัญชาสร้างบรรยากาศที่เป็นกันเองกับบุคลากร และเมื่อประสบปัญหาในการทำงานผู้ปฏิบัติงานสามารถปรึกษาหารือได้</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op19" value=" #{pollView.pollEntity.head3}" style="text-align: center" />
                                <h:inputHidden id="txt19" value="#{pollView.pollEntity.head3}" />
                                <p:slider minValue="1" maxValue="5" for="txt19" step="1" style="width: 100%" display="op19" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">4. ผู้บังคับบัญชาให้ความเสมอภาคต่อบุคลากรภายในองค์กร ยอมรับฟังความคิดเห็นและข้อเสนอแนะของบุคลากร</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op20" value=" #{pollView.pollEntity.head4}" style="text-align: center" />
                                <h:inputHidden id="txt20" value="#{pollView.pollEntity.head4}" />
                                <p:slider minValue="1" maxValue="5" for="txt20" step="1" style="width: 100%" display="op20" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">5. ผู้บังคับบัญชาให้คำแนะนำ และสอนงานท่านเพื่อให้บรรลุเป้าหมายในการทำงาน</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op21" value=" #{pollView.pollEntity.head5}" style="text-align: center" />
                                <h:inputHidden id="txt21" value="#{pollView.pollEntity.head5}" />
                                <p:slider minValue="1" maxValue="5" for="txt21" step="1" style="width: 100%" display="op21" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">6. ผู้บังคับบัญชาเป็นแบบอย่างที่ดีในถ่ายทอด แบ่งปันความรู้ ให้มีการเรียนรู้อย่างต่อเนื่อง</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op22" value=" #{pollView.pollEntity.head6}" style="text-align: center" />
                                <h:inputHidden id="txt22" value="#{pollView.pollEntity.head6}" />
                                <p:slider minValue="1" maxValue="5" for="txt22" step="1" style="width: 100%" display="op22" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">7. ผู้บังคับบัญชามีการนำเทคโนโลยีใหม่ๆ มาประยุกต์ใช้ในการทำงาน ที่ส่งผลให้การปฏิบัติงานของท่านมีความสะดวกรวมเร็วยิ่งขึ้น</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op23" value=" #{pollView.pollEntity.head7}" style="text-align: center" />
                                <h:inputHidden id="txt23" value="#{pollView.pollEntity.head7}" />
                                <p:slider minValue="1" maxValue="5" for="txt23" step="1" style="width: 100%" display="op23" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">8. ผู้บังคับบัญชาส่งเสริม สนับสนุนให้บุคลากรวางแผนพัฒนาตนเองเพื่อให้เกิดการเรียนรู้อย่างต่อเนื่อง</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op24" value=" #{pollView.pollEntity.head8}" style="text-align: center" />
                                <h:inputHidden id="txt24" value="#{pollView.pollEntity.head8}" />
                                <p:slider minValue="1" maxValue="5" for="txt24" step="1" style="width: 100%" display="op24" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <hr/>

                        <div class="row text-row">
                            <div class="col-md-12"><h4>2.5 ด้านการเสริมสร้างแรงจูงใจ ค่าตอบแทนและสวัสดิการ</h4></div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">1. รายได้ ค่าตอบแทน และสวัสดิการที่ได้รับในปัจจุบันมีความเหมาะสมกับปริมาณหรือภารกิจที่ปฏิบัติหน้าที่อยู่</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op25" value=" #{pollView.pollEntity.welfare1}" style="text-align: center" />
                                <h:inputHidden id="txt25" value="#{pollView.pollEntity.welfare1}" />
                                <p:slider minValue="1" maxValue="5" for="txt25" step="1" style="width: 100%" display="op25" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">2. ท่านพอใจกับเงินเดือนของท่านเมื่อเปรียบเทียบกับบุคลากรในสายอาชีพอื่นๆ ที่มีวุฒิการศึกษาเหมือนท่าน</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op26" value=" #{pollView.pollEntity.welfare2}" style="text-align: center" />
                                <h:inputHidden id="txt26" value="#{pollView.pollEntity.welfare2}" />
                                <p:slider minValue="1" maxValue="5" for="txt26" step="1" style="width: 100%" display="op26" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">3. ท่านได้รับความสะดวกรวดเร็ว ในการใช้สิทธิ์เบิกค่ารักษาพยาบาล และค่าสวัสดิการต่างๆ</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op27" value=" #{pollView.pollEntity.welfare3}" style="text-align: center" />
                                <h:inputHidden id="txt27" value="#{pollView.pollEntity.welfare3}" />
                                <p:slider minValue="1" maxValue="5" for="txt27" step="1" style="width: 100%" display="op27" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">4.ท่านได้รับสวัสดิการที่โรงพยาบาลจัดให้อย่างเหมาะสม</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op28" value=" #{pollView.pollEntity.welfare4}" style="text-align: center" />
                                <h:inputHidden id="txt28" value="#{pollView.pollEntity.welfare4}" />
                                <p:slider minValue="1" maxValue="5" for="txt28" step="1" style="width: 100%" display="op28" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">5.หน่วยงานสนับสนุน ยกย่อง ให้รางวัล แก่บุคลากร/ทีมงาน ที่มีการพัฒนาการเรียนรู้ สร้างนวัตกรรม หรือที่มีผลการดำเนินงานที่มีประสิทธิภาพ</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op29" value=" #{pollView.pollEntity.welfare5}" style="text-align: center" />
                                <h:inputHidden id="txt29" value="#{pollView.pollEntity.welfare5}" />
                                <p:slider minValue="1" maxValue="5" for="txt29" step="1" style="width: 100%" display="op29" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">6. หน่วยงานมีการนำผลการได้รับรางวัลต่างๆ ของบุคลากร ไปประกอบการประเมินผลการปฏิบัติงานในแต่ละรอบการประเมินอย่างเป็นรูปธรรม</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op30" value=" #{pollView.pollEntity.welfare6}" style="text-align: center" />
                                <h:inputHidden id="txt30" value="#{pollView.pollEntity.welfare6}" />
                                <p:slider minValue="1" maxValue="5" for="txt30" step="1" style="width: 100%" display="op30" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <hr/>

                        <div class="row text-row">
                            <div class="col-md-12"><h4>2.6 ด้านสถานที่และสิ่งอำนวยความสะดวก</h4></div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">1. สภาพแวดล้อม และบรรยากาศทั่วไปในที่ทำงาน เช่น เสียง แสงสว่าง การถ่ายเทอากาศมีความเหมาะสมและส่งเสริมให้ท่านทำงานสะดวก</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op31" value=" #{pollView.pollEntity.place1}" style="text-align: center" />
                                <h:inputHidden id="txt31" value="#{pollView.pollEntity.place1}" />
                                <p:slider minValue="1" maxValue="5" for="txt31" step="1" style="width: 100%" display="op31" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">2. ท่านมีความพึงพอใจในอาคารสถานที่และสภาพแวดล้อมทั่วๆไปของโรงพยาบาล ที่มีลักษณะทำให้เกิดความกระตือรือร้นในการทำงาน</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op32" value=" #{pollView.pollEntity.place2}" style="text-align: center" />
                                <h:inputHidden id="txt32" value="#{pollView.pollEntity.place2}" />
                                <p:slider minValue="1" maxValue="5" for="txt32" step="1" style="width: 100%" display="op32" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">3. หน่วยงานของท่านมีการจัดบริการหรือสิ่งอำนวยความสะดวก เช่น น้ำดื่ม ห้องพัก ห้องน้ำ  ที่เพียงพอกับความต้องการ</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op33" value=" #{pollView.pollEntity.place3}" style="text-align: center" />
                                <h:inputHidden id="txt33" value="#{pollView.pollEntity.place3}" />
                                <p:slider minValue="1" maxValue="5" for="txt33" step="1" style="width: 100%" display="op33" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">4. การจัดสถานที่ในการทำงานเป็นสัดส่วน สะอาด เป็นระเบียบเรียบร้อยสะดวกต่อการทำงาน</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op34" value=" #{pollView.pollEntity.place4}" style="text-align: center" />
                                <h:inputHidden id="txt34" value="#{pollView.pollEntity.place4}" />
                                <p:slider minValue="1" maxValue="5" for="txt34" step="1" style="width: 100%" display="op34" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">5. ท่านมีความรู้สึกมั่นใจและปลอดภัยต่อระบบปรับอากาศภายในอาคารของโรงพยาบาล</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op35" value=" #{pollView.pollEntity.place5}" style="text-align: center" />
                                <h:inputHidden id="txt35" value="#{pollView.pollEntity.place5}" />
                                <p:slider minValue="1" maxValue="5" for="txt35" step="1" style="width: 100%" display="op35" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">6. วัสดุอุปกรณ์ในการปฏิบัติงานมีจำนวนที่เพียงพอและมีความสะดวกที่จะนำมาใช้</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op36" value=" #{pollView.pollEntity.place6}" style="text-align: center" />
                                <h:inputHidden id="txt36" value="#{pollView.pollEntity.place6}" />
                                <p:slider minValue="1" maxValue="5" for="txt36" step="1" style="width: 100%" display="op36" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">7. ระบบเทคโนโลยีสารสนเทศที่มีช่วยให้ท่านสามารถปฏิบัติงานได้อย่างต่อเนื่อง</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op37" value=" #{pollView.pollEntity.place7}" style="text-align: center" />
                                <h:inputHidden id="txt37" value="#{pollView.pollEntity.place7}" />
                                <p:slider minValue="1" maxValue="5" for="txt37" step="1" style="width: 100%" display="op37" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">8. ระบบเทคโนโลยีสารสนเทศของโรงพยาบาลช่วยให้ท่านสืบค้นความรู้ที่ใช้ในการทำงานและพัฒนาตนเอง ได้ง่าย  สะดวก และรวดเร็ว</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op38" value=" #{pollView.pollEntity.place8}" style="text-align: center" />
                                <h:inputHidden id="txt38" value="#{pollView.pollEntity.place8}" />
                                <p:slider minValue="1" maxValue="5" for="txt38" step="1" style="width: 100%" display="op38" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">9. หน่วยงานของท่านมีแหล่งเรียนรู้  เช่น ห้องสมุด          มุมแลกเปลี่ยนเรียนรู้ ฯลฯ ที่เหมาะสมต่อการเรียนรู้</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op39" value=" #{pollView.pollEntity.place9}" style="text-align: center" />
                                <h:inputHidden id="txt39" value="#{pollView.pollEntity.place9}" />
                                <p:slider minValue="1" maxValue="5" for="txt39" step="1" style="width: 100%" display="op39" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                                <div class="col-md-6">ข้อเสนอแนะ หรือความคิดเห็น</div>
                                <div class="col-md-6">
                                    <p:inputTextarea value="#{pollView.pollEntity.suggestionPart2}" cols="30"/>
                                </div>
                            </div>

                    </fieldset>

                    <fieldset>
                        <legend>ส่วนที่ 3  ความผูกพันของบุคลากรต่อองค์กร</legend>

                        <div class="row text-row">
                            <div class="col-md-12"><h4>3.1 ความพยายามทุ่มเทปฏิบัติงานเพื่อให้บรรลุวัตถุประสงค์ของโรงพยาบาล</h4></div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">1.ท่านปฏิบัติงานที่ได้รับมอบหมายอย่างเต็มความรู้ความสามารถ เพื่อบรรลุวัตถุประสงค์และความสำเร็จของโรงพยาบาล</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op40" value=" #{pollView.pollEntity.attempt1}" style="text-align: center" />
                                <h:inputHidden id="txt40" value="#{pollView.pollEntity.attempt1}" />
                                <p:slider minValue="1" maxValue="5" for="txt40" step="1" style="width: 100%" display="op40" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">2.ท่านเต็มใจและยินดีที่จะปฏิบัติตามนโยบายของโรงพยาบาลอย่างเคร่งครัด</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op41" value=" #{pollView.pollEntity.attempt2}" style="text-align: center" />
                                <h:inputHidden id="txt41" value="#{pollView.pollEntity.attempt2}" />
                                <p:slider minValue="1" maxValue="5" for="txt41" step="1" style="width: 100%" display="op41" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">3. เมื่อพบปัญหาอุปสรรคการทำงานท่านมีการสรุปบทเรียนและวางแผนที่จะพัฒนาการทำงานให้ดียิ่งขึ้น</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op42" value=" #{pollView.pollEntity.attempt3}" style="text-align: center" />
                                <h:inputHidden id="txt42" value="#{pollView.pollEntity.attempt3}" />
                                <p:slider minValue="1" maxValue="5" for="txt42" step="1" style="width: 100%" display="op42" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">4.ท่านคิดริเริ่มวิธีการต่างๆ เพื่อใช้ในการปรับปรุงการทำงานให้ดีขึ้นอย่างต่อเนื่องตลอดเวลา</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op43" value=" #{pollView.pollEntity.attempt4}" style="text-align: center" />
                                <h:inputHidden id="txt43" value="#{pollView.pollEntity.attempt4}" />
                                <p:slider minValue="1" maxValue="5" for="txt43" step="1" style="width: 100%" display="op43" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">5.ท่านเต็มใจที่จะทำงานต่อให้เสร็จ ถึงแม้ว่าจะเลยเวลาเลิกงานไปแล้ว หรือนำงานไปทำต่อที่บ้าน</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op44" value=" #{pollView.pollEntity.attempt5}" style="text-align: center" />
                                <h:inputHidden id="txt44" value="#{pollView.pollEntity.attempt5}" />
                                <p:slider minValue="1" maxValue="5" for="txt44" step="1" style="width: 100%" display="op44" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">6. ท่านนำความรู้ที่ได้จากการเรียนรู้และการแลกเปลี่ยนเรียนรู้ทั้งจากภายนอกและภายในโรงพยาบาลการพัฒนางานและปรับปรุงงานให้ดีขึ้นอย่างต่อเนื่อง</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op45" value=" #{pollView.pollEntity.attempt6}" style="text-align: center" />
                                <h:inputHidden id="txt45" value="#{pollView.pollEntity.attempt6}" />
                                <p:slider minValue="1" maxValue="5" for="txt45" step="1" style="width: 100%" display="op45" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <hr/>

                        <div class="row text-row">
                            <div class="col-md-12"><h4>3.2 ความภาคภูมิใจและจงรักภักดีต่อโรงพยาบาล</h4></div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">1.เมื่อโรงพยาบาลของท่านมีการพัฒนามากขึ้น ท่านมีความภาคภูมิใจตามไปด้วย</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op46" value=" #{pollView.pollEntity.proud1}" style="text-align: center" />
                                <h:inputHidden id="txt46" value="#{pollView.pollEntity.proud1}" />
                                <p:slider minValue="1" maxValue="5" for="txt46" step="1" style="width: 100%" display="op46" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">2.ท่านมีความภาคภูมิใจและยินดีจะบอกกับผู้อื่น ว่าท่านทำงานที่โรงพยาบาลแห่งนี้</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op47" value=" #{pollView.pollEntity.proud2}" style="text-align: center" />
                                <h:inputHidden id="txt47" value="#{pollView.pollEntity.proud2}" />
                                <p:slider minValue="1" maxValue="5" for="txt47" step="1" style="width: 100%" display="op47" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">3.ท่านรู้สึกภูมิใจเมื่อได้ยินบุคคลอื่นกล่าวถึงโรงพยาบาลในทางที่ดี</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op48" value=" #{pollView.pollEntity.proud3}" style="text-align: center" />
                                <h:inputHidden id="txt48" value="#{pollView.pollEntity.proud3}" />
                                <p:slider minValue="1" maxValue="5" for="txt48" step="1" style="width: 100%" display="op48" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">4. ท่านมีพฤติกรรมเป็นแบบอย่างที่ดีที่ช่วยส่งเสริมภาพลักษณ์ของโรงพยาบาลอย่างสม่ำเสมอ</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op49" value=" #{pollView.pollEntity.proud4}" style="text-align: center" />
                                <h:inputHidden id="txt49" value="#{pollView.pollEntity.proud4}" />
                                <p:slider minValue="1" maxValue="5" for="txt49" step="1" style="width: 100%" display="op49" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">5.ท่านมีความซื่อสัตย์และจงรักภักดีต่อโรงพยาบาล โดยคำนึงถึงประโยชน์ของโรงพยาบาลเป็นที่ตั้ง </div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op50" value=" #{pollView.pollEntity.proud5}" style="text-align: center" />
                                <h:inputHidden id="txt50" value="#{pollView.pollEntity.proud5}" />
                                <p:slider minValue="1" maxValue="5" for="txt50" step="1" style="width: 100%" display="op50" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-12"><h4>3.3 การเป็นส่วนหนึ่งของโรงพยาบาล</h4></div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">1.ท่านเข้าร่วมกิจกรรมต่าง ๆ ของโรงพยาบาลอย่างสม่ำเสมอ</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op51" value=" #{pollView.pollEntity.part1}" style="text-align: center" />
                                <h:inputHidden id="txt51" value="#{pollView.pollEntity.part1}" />
                                <p:slider minValue="1" maxValue="5" for="txt51" step="1" style="width: 100%" display="op51" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">2.เมื่อท่านทำงานในโรงพยาบาลแห่งนี้เป็นเวลานาน ท่านยิ่งรู้สึกเป็นส่วนหนึ่งของโรงพยาบาล</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op52" value=" #{pollView.pollEntity.part2}" style="text-align: center" />
                                <h:inputHidden id="txt52" value="#{pollView.pollEntity.part2}" />
                                <p:slider minValue="1" maxValue="5" for="txt52" step="1" style="width: 100%" display="op52" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">3.ท่านมีความพึงพอใจในการปฏิบัติงานกับโรงพยาบาลจุฬาภรณ์ จนถึงเกษียณอายุ</div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op53" value=" #{pollView.pollEntity.part3}" style="text-align: center" />
                                <h:inputHidden id="txt53" value="#{pollView.pollEntity.part3}" />
                                <p:slider minValue="1" maxValue="5" for="txt53" step="1" style="width: 100%" display="op53" displayTemplate=" {value}"/>
                            </div>
                        </div>

                        <div class="row text-row">
                            <div class="col-md-6">4.ท่านไม่คิดจะไปปฏิบัติงานที่องค์กรอื่น แม้ว่าจะได้รับตำแหน่งและเงินเดือนที่ดีกว่า </div>
                            <div class="col-md-6 col-sm-12">
                                <h:outputText id="op54" value=" #{pollView.pollEntity.part4}" style="text-align: center" />
                                <h:inputHidden id="txt54" value="#{pollView.pollEntity.part4}" />
                                <p:slider minValue="1" maxValue="5" for="txt54" step="1" style="width: 100%" display="op54" displayTemplate=" {value}"/>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>ส่วนที่ 4  ข้อเสนอแนะ หรือความคิดเห็น</legend>

                        <div class="row text-row">
                            <div class="col-md-6 col-sm-12">
                                <p:inputTextarea value="#{pollView.pollEntity.suggestion}" style="width: 100%"/>
                                <h4>ขอขอบคุณที่ท่านให้ความร่วมมือในการตอบแบบสอบถาม</h4>
                                </div>
                        </div>
                    </fieldset>
                    <p:commandButton onclick="PF('dlg1').show();" value="Submit" id="nonAjax" actionListener="#{pollView.newPoll}" ajax="true" style="align: center;"/>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    </h:form>

    <p:dialog header="แบบสอบถาม" widgetVar="dlg1" modal="true" minHeight="80">
        <h:outputText value="ขอบคุณสำหรับการทำแบบสอบถาม" /><br></br>
        <div style="text-align: right;">
            <p:button outcome="index" value="OK"/>
        </div>
    </p:dialog>
</h:body>
</html>
